body {
    text-align: center;
    font-family: Roboto, arial, sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;

}

p {
    margin: 0;
}

#title {
    height: 6vh;
    font-size: 30px;
    position: relative;
}

#gameBoard {
    height: 80vh;
    position: relative;
    background-color: #fafafa;
}

#display {
    height: 4vh;
    width: 100vw;
}

.fighterElement {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #2de1ff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: background 1s, color 1s;
    position:absolute;
}

.fighterName {
    height: 50px;
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    position: relative;
    top: 10px;
}

.fighterHP {
    height: 50px;
    width: 100%;
    font-size: 46px;
    position: relative;
    bottom: 22px;
}



.activeFighter {
    background-color: #2f2f2f;
    color: #ffffff;
}